<html>

<body>

<h1>"Use new template in {{ myip.stdout }}"</h1>      

<h1>This server runs {{ ansible_hostname }},{{ ansible_distribution }} {{ ansible_distribution_version }}</h1>  <!-- these are built-in variables, you can find them with command: ansible -i hosts_novars.txt linux -m setup  -->

</body>
</html>
